<h2 style="font-family: Roboto; font-weight: lighter;">Slot Status</h2>
<div class=container>
	<div class=bit_block>
		<div class=item id=belegt>
			<div class=state>{{belegt}}</div>
		</div>
		<div class=label>
			Belegt-Bit
		</div>	
	</div>
	<div class=bit_block>
		<div class=item id=monitor>
			<div class=state>{{monitor}}</div>
		</div>
		<div class=label>
			Monitor-Bit
		</div>	
	</div>
	<div class=bit_block>
		<div class=item id=quelle>
			<div class=state>{{quelle}}</div>
		</div>
		<div class=label>
			Quelladresse
		</div>	
	</div>
	<div class=bit_block>
		<div class=item id=ziel>
			<div class=state>{{ziel}}</div>
		</div>
		<div class=label>
			Zieladresse
		</div>	
	</div>
	<div class=bit_block>
		<div class=item id=daten>
			<div class=state>{{daten}}</div>
		</div>
		<div class=label>
			Nutzdaten
		</div>	
	</div>
	<div class="bit_block">
		<div style="display: flex;">
			<div class=item id=antwort1>
				<div class=state>{{antwort1}}</div>
			</div>
			<div class=item id=antwort2>
				<div class=state>{{antwort2}}</div>
			</div>
		</div>
		<div class=label>
			Antwort-Bits
		</div>	
	</div>
</div>